#### Regras:
* A avaliação é individual
* O prazo para entrega é 29/03, 15h30 (final da aula)
* Não utilize internet além das documentações oficiais do Python
* Ao completar envie para ana.mees@ipm.com.br
* Boa sorte! Os resultados também irão nos guiar nas próximas aulas

### Questão 1 - Fermat

In [1]:
def check_fermat(a, b, c, n):
    if (n > 2) & (a**n + b**n == c**n):
        print('Fermat estava errado!')
    else:
        print('Ok, ele estava certo.')

In [3]:
check_fermat(2, 4, 78, 9)

Ok, ele estava certo.

### Questão 2 - Manipulação com listas

In [58]:
def downto_list(num, stop):
    sum=0
    contador=1

    if (stop > num):
        return "Informe um número maior que o total para parar a repetição."
    
    for x in reversed(range(num+1)):
        #print(x)

        if x < 10:
            break
        
        if x % 2 == 0:
            sum += x
        
        if ((len(range(num+1))-stop) - contador) < 5:
            print(x)

        contador += 1

    print(sum)

In [59]:
downto_list(104, 10)

14
13
12
11
10
2736

### Questão 3 - Par inverso

In [79]:
def match_reversed_words(str1: str, str2: str):
    reversed1=''
    reversed2=''

    for w in reversed(range(len(str1))):
        reversed1=reversed1+str1[w]

    for y in reversed(range(len(str2))):
        reversed2=reversed2+str2[y]

    print(str1 + "==" + reversed2)
    print(str2 + "==" + reversed1)

    if (reversed1 == str2) | (reversed2 == str1):
        return True
    else:
        return False

In [83]:
match_reversed_words('ana', 'ana')

ana==ana
ana==ana

True

### Questão 4 - Nome na vertical

In [86]:
def vertical_name(name: str):
    for n in range(len(name)):
        print(name[n])

In [87]:
vertical_name('jean')

j
e
a
n

### Questão 5 - Número de telefone

In [119]:
def phonenumber_verify(number):
    new_number=''

    if len(number) > 9:
        return "Não é um telefone válido"

    for x in range(len(number)):
        try:
            new_number=new_number+(str(int(number[x])))
        except:
            continue
    
    if len(new_number) == 7:
        number = '9'+number
        new_number = '9'+new_number
    
    # retorna com e sem formatação
    return number, new_number

In [121]:
phonenumber_verify('461-0133')

('9461-0133', '94610133')

### Questão 6 - Gerador automático de senhas

### Questão 7 - Dataframes!

In [164]:
import pandas as pd

produtos = {'registro_produto': ['laptop', 'impressora', 'tablet', 'mesa', 'cadeira'],
        'preço': [1200, 150, 300, 450, 200]}

df_produtos = pd.DataFrame(produtos, index=['produto_1', 'produto_2', 'produto_3', 'produto_4', 'produto_5'])
df_produtos

          registro_produto  preço
produto_1           laptop   1200
produto_2       impressora    150
produto_3           tablet    300
produto_4             mesa    450
produto_5          cadeira    200

In [163]:
import pandas as pd

vendas = {'registro_produto': ['laptop', 'tablet', 'laptop', 'mesa', 'cadeira', 'mesa', 'tablet', 'cadeira', 'cadeira', 'laptop', 'tablet', 'cadeira'],
        'data': ['03/05/2023', '17/11/2022', '09/08/2022', '14/05/2023', '23/07/2021', '09/09/2021', '19/08/2023', '23/07/2021', '23/07/2021', '09/08/2022', '24/01/2021', '18/03/2023']}

df_vendas = pd.DataFrame(vendas, index=['venda_1', 'venda_2', 'venda_3', 'venda_4', 'venda_5', 'venda_6', 'venda_7', 'venda_8', 'venda_9', 'venda_10', 'venda_11', 'venda_12'])
df_vendas

         registro_produto        data
venda_1            laptop  03/05/2023
venda_2            tablet  17/11/2022
venda_3            laptop  09/08/2022
venda_4              mesa  14/05/2023
venda_5           cadeira  23/07/2021
venda_6              mesa  09/09/2021
venda_7            tablet  19/08/2023
venda_8           cadeira  23/07/2021
venda_9           cadeira  23/07/2021
venda_10           laptop  09/08/2022
venda_11           tablet  24/01/2021
venda_12          cadeira  18/03/2023

a) Incorpore uma coluna ao df_produtos com a receita total de cada produto por ano, ou seja, uma coluna com o ano 2021, outra com 2022 e outra com 2023 para cada produto.

In [185]:
import datetime
from datetime import date

df_vendas['data'] = df_vendas['data'].astype('datetime64[ns]')

for ano in df_vendas['data'].dt.year.unique():
    for row, value in df_vendas[['data', 'registro_produto']]:
        print(row)
        print(value)

ValueError: too many values to unpack (expected 2)

b) Qual foi a receita total nesses 3 anos?